@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <meta name="keywords" content="HTML,CSS,SCSS,Javascript">
    <meta name="description" content="?">
    <meta name="author" content="Denis J Finkel">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Home/css/style.css">
    <title>Home Learn Russian</title>
</head>
<body>

    <header id="Header-LearnRussian">
        <h1 id="title_learnRussian">Learn Russian</h1>
    </header>

    <main>
        <!--Basics(I) Activity-->
        <section id="BasicsI">
            <h2 id="basicsI-title">Basics(I)</h2>
            <a asp-action="MainMenu" asp-controller="BasicsI" id="basicsI_ImageButton">
                <img src="~/Home/css/img/ic_single_hand_sprout_100px.png" alt="single hand sprout" height="100" width="100" />
            </a>
        </section>

        <!--Basics(II) Activity-->
        <section id="BasicsII">
            <h2 id="basicsII-title">Basics(II)</h2>
            <a asp-action="MainMenu" asp-controller="BasicsII" id="basicsII_ImageButton">
                <img src="~/Home/css/img/ic_duel_hand_sprout_100px.png" alt="duel hand sprout" height="100" width="100" />
            </a>
        </section>
    </main>


</body>

<!-- ()-->