// * Mixins *
@mixin testBorder($color) {
    border: 2px solid $color;
}

@mixin configBody_Weight_Height() {
    max-width: 1200px;
    min-width: 600px;
    max-height: 900px;
    min-height: 450px;
}