// * Mixins For Basics(I) *
// * Used To Text The View Borders *
@mixin testBorder($color) {
    border: 2px solid $color;
}

@mixin configBody_Weight_Height() {
    max-width: 1200px;
    min-width: 600px;
    max-height: 900px;
    min-height: 450px;
}
@mixin configHeader_Title($color) {
    color: $color;
    text-align: center;
    font-weight: 900;
    font-size: 4em;
    font-style: italic;
    font-family: Gabriola;
}
